@model WebApplication2MVC.Entities.Jedi
@{
    ViewData["Title"] = "Jedi Page";
}

<div class="text-center">
    <h1 class="display-4">Jedi @Model.Name (@Model.Id)</h1>

</div>


<table>
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Yoda 1</td>
        </tr>
    </tbody>
</table>