@{
    ViewData["Title"] = "Home Page";
}

<h2 class="titulo">DEmo</h2>
<utn>Demo UTN</utn>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
